<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--config for each SNS -->
        <!--Twitter-->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@AdmiralHonda"/>
        <meta name="twitter:widgets:theme" content="dark" />
        <!--Facebook-->
        <meta name="fb:app_id" content="531738907544477"/>
        <!--Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="canonical" href="https://www.admiralhonda.com{{ request.get_full_path }}" />
        {%block header%}
        {% endblock %}
        {% load static %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/author_profile.webp' %}">
        <link rel="icon" href="{% static '/img/author_profile.webp' %}"> 
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="//pagead2.googlesyndication.com"/>
        <link rel="dns-prefetch" href="//googleads.g.doubleclick.net"/>
        <link rel="dns-prefetch" href="//tpc.googlesyndication.com"/>
        <link rel="dns-prefetch" href="//www.gstatic.com"/>
        <script data-ad-client="ca-pub-3952779346887893" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163807865-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163807865-1');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="card mb-3" style="background-color: darkcyan;">
                <div class="row">
                  <div class="col-4 col-md-5">
                    <img src="{% static '/img/author_profile.webp' %}" alt="author_profile_AdmiralHonda">
                  </div>
                  <div class="col-8 col-md-7">
                    <div class="card-body">
                      <h5 class="card-title text-white">AdmiralHonda's Fishing Diary</h5>
                      <p class="card-text text-white">~福島でのアウトドアや釣り、登山など~</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-light bg-dark rounded" role="navigation">
                    <form class="form-inline">
                      <button class="btn btn-outline-light" style="margin: 0.5em;"  type="button" onclick="location.href='{%url 'MyBlog:index'%}'">Home</button>
                      <button class="btn btn-outline-light" style="margin: 0.5em;" type="button" onclick="location.href='{%url 'MyBlog:search' 'Outdoor' 1 %}'">アウトドア</button>
                      <button class="btn btn-outline-light" style="margin: 0.5em;" type="button" onclick="location.href='{%url 'MyBlog:search' 'Fishing' 1 %}'">フィッシング</button>
                      <button class="btn btn-outline-light" style="margin: 0.5em;" type="button" onclick="location.href='{%url 'MyBlog:policy'%}'">サイトポリシー</button>
                    </form>
                </nav>
            </div>
        {%block content%}
        {% endblock %}
        <footer class="text-center rounded" role="contentinfo" style="background-color: darkcyan;color: white;">
            ©2020 admiralhonda.com All Rights Reserved.
        </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
</html>