<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--config for each SNS -->
        <!--Twitter-->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@AdmiralHonda"/>
        <meta name="twitter:widgets:theme" content="dark" />
        <!--Facebook-->
        <meta name="fb:app_id" content="531738907544477"/>

        <link rel="canonical" href="https://www.admiralhonda.com{{ request.get_full_path }}" />
        {%block header%}
        {% endblock %}
        {% load static %}
        <link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/IMG_0459.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/IMG_0459.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static '/img/IMG_0459.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/IMG_0459.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static '/img/IMG_0459.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/IMG_0459.png' %}">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static '/img/IMG_0459.png' %}">
        <meta name="theme-color" content="#ffffff">

        <link rel= "stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity= "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin= "anonymous" > 
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="//pagead2.googlesyndication.com"/>
        <link rel="dns-prefetch" href="//googleads.g.doubleclick.net"/>
        <link rel="dns-prefetch" href="//tpc.googlesyndication.com"/>
        <link rel="dns-prefetch" href="//www.gstatic.com"/>
        <script data-ad-client="ca-pub-3952779346887893" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163807865-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163807865-1');
        </script>
    </head>
    <body>
        <div class="container">
            <header style="background-color: darkcyan;" class="jumbotron rounded" role="banner">
            <p onclick="location.href='{%url 'MyBlog:index'%}'" style="background-color: darkcyan; color: white;" class="h2 display-4">AdmiralHondaの航海日誌</p>
            <p class="lead" style="color: white;background-color: darkcyan;">~アウトドアや釣りの話など~</p>
            </header>
            <nav class="navbar navbar-light bg-dark rounded" role="navigation">
              <form class="form-inline">
                <button class="btn btn-outline-light" style="margin: 0.5em;"  type="button" onclick="location.href='{%url 'MyBlog:index'%}'">Home</button>
                  {%for topic in categorys%}
                  <button class="btn btn-outline-light" style="margin: 0.5em;" type="button" onclick="location.href='{%url 'MyBlog:search' topic.slug 1 %}'">{{topic.name}}</button>
                  {%endfor%}
                <button class="btn btn-outline-light" style="margin: 0.5em;" type="button" onclick="location.href='{%url 'MyBlog:policy'%}'">サイトポリシー</button>
              </form>
            </nav>
        {%block content%}
        {% endblock %}
        <footer class="text-center rounded" role="contentinfo" style="background-color: darkcyan;color: white;">
            ©2020 admiralhonda.com All Rights Reserved.
        </footer>
        </div>
       <script src= "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity= "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin= "anonymous" ></script>
       <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity= "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin= "anonymous" ></script>
       <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity= "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin= "anonymous" ></script> 
    </body>
</html>