{%extends 'base.html'%}

{%block header%}
        <meta name="description" content="{{article.meta_description}}" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:title" content="{{article.ogp_title}}" />
        <meta proparty="og:description" content="{{article.meta_description}}" />
        <meta proparty="og:image" content="{{article.ogp_img.url}}" />
        <meta proparty="og:image:secure_url" content="{{article.ogp_img.url}}" />
        <meta name="thumbnail" content="{{article.ogp_img.url}}" />
        <meta proparty="og:image:type" content="image/jpeg" />
        <meta proparty="og:type" content="article" />
        <meta proparty="og:site_name" content="AdmiralHondaの航海日誌" />
        <meta proparty="og:locale" content="ja_JP" />
        <meta name="twitter:image" content="{{article.ogp_img.url}}" />
        <meta name="facebook:image" content="{{article.ogp_img.url}}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'base.css' %}">
        <title>{{article.title}}</title>
        <style>
          ul.cp_list {
            padding: 0.5em;
            list-style-type: none;
          }
          ul.cp_list li {
            position: relative;
            padding: 0.5em 1em 0.5em 2.3em;
            margin-bottom:5px;
          }
          ul.cp_list li:after,
          ul.cp_list li:before{
            content:'';
            position: absolute;
            border-radius: 50%;
          }
          ul.cp_list li:before {
            top: 50%;
            left: 0.2em;
            width: 17px;
            height: 17px;
            background: rgba(25,118,210, 1);
            transform: translateY(-50%);
          }
          ul.cp_list li:after {
            top: 1.1em;
            left: 0.7em;
            width: 14px;
            height: 14px;
            background: rgba(25,118,210, 0.5);
          }
          p{
            font-size: 100%;
            line-height: 2em;
          }
          a {
            text-decoration: none;
            text-emphasis: none;
            color: black;
          }
          a:link,a:visited,a:hover,a:active{
            color: black;
            text-decoration: none;
            text-emphasis: none;
          }
           h3{
              padding: 0.5em;/*文字周りの余白*/
              color: #010101;/*文字色*/
              background: #eaf3ff;/*背景色*/
              border-bottom: solid 0.5em darkcyan;/*下線*/
          }
          h4 {
             background: linear-gradient(transparent 90%, darkcyan 90%);
          }        
          @media only screen and (max-width: 767px){ 
              img {
                display: block;
                max-width: 70%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
              }
          }
          @media only screen and (min-width: 767px),print{
              img {
                display: block;
                max-width: 60%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
              }
          }
          /*見出し周り*/
          h1 {
            /*線の種類（二重線）太さ 色*/
            border-bottom: double 5px darkcyan;
           }
          h2 {
            padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
            color: #494949;/*文字色*/
            background: #f4f4f4;/*背景色*/
            border-left: solid 5px darkcyan;/*左線*/
            border-bottom: solid 3px #d7d7d7;/*下線*/
          }
            
          h3 {
            border-bottom: darkcyan;
          }    
        </style>
{%endblock%}
{%block content%}
<div class="row">
    <div class="col">
            <ol class="breadcrumb my-2 rounded">
              <li class="breadcrumb-item"><a href="{%url 'MyBlog:index'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'MyBlog:search' article.category.slug 1 %}">{{article.category.name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{article.slug}}</li>
            </ol>
            <center class="rounded back_color">
            <h1 style="text-align: center;">
              {{article.ogp_title}}
            </h1>
            <img class="img-fluid img-thumbnail" src="{{article.ogp_img.url}}" alt="title">
            </center>
            <br>
            <!-- Fishing -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3952779346887893"
                data-ad-slot="2902710997"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </div>
</div>

<div class="row rounded">
    <div class="col-12 col-md-8 rounded back_color">
      <div>
        <p><img src="{%static 'img/submit.svg'%}" style="width:2em; height:auto;" align="left">{{article.pub_date|date}}</p>
        <p><img src="{%static 'img/update.svg'%}" style="width:2em; height:auto;" align="left">{{article.up_date|date}}</p>
    </div>
        {%if article.category%}
        <a href="{% url 'MyBlog:search' article.category.slug 1 %}" class=" btn btn-info mb-2 text-white">{{article.category.name}}</a>
        <br>
        {%else%}
        {%endif%}
        {%if article.tags %}
        {% for tag in article.tags.all %}
        <a href="{% url 'MyBlog:search' tag.slug 2 %}" class="btn btn-info mr-2 mb-2 text-white">{{tag.name}}</a>
        {%endfor%}
        {%else%}
        {%endif%}
        
        <article role="main">
            {{article.exchange_markdown|safe}}
        </article>
        <br>
        <br>
        <br>
        
      <!-- Fishing -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3952779346887893"
          data-ad-slot="2902710997"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div>
    <div class="col-auto col-md-4">
      <div class="box27">
          <span class="box-title">この記事の著者</span>
          {%if author%}
          <center>
              <img src="{{author.profimg.url}}" class="img-thumbnail img-fluid">
              </center>
              <h4>{{author.name}}</h4>
              {{author.exchange_markdown|safe}}
          {%else%}
          <p>まだないみたい</p>
          {%endif%}
      </div>
      <!-- 右側タイムライン上 -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3952779346887893"
          data-ad-slot="4110769312"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
    <div class="row">
      <hr size="10">
    {%if recommend%}
    <div class="col-12 my-1 rounded back_color">
      <p class="h3 rounded text-center">他の記事<br></p>
    </div>
    {% for article in recommend %}
    <div class="col-12 col-md-6 rounded">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <a href="{% url 'MyBlog:search' article.category.slug 1 %}" class="btn btn-info mb-2 text-white">{{article.category.name}}</a>
          <h3 class="mb-0">
            <a class="text-dark" href="{%url 'MyBlog:blog' article.category.slug article.slug %}">{{article.ogp_title}}</a>
          </h3>
          <div class="mb-1 text-muted">{{article.pub_date|date}}</div>
          <img class="card-img flex-auto img-fluid img-thumbnail" alt="Thumbnail" src="{{article.ogp_img.url}}"  data-holder-rendered="true">
          <p class="card-text mb-auto">{{article.meta_description}}</p>
          <a class="text-white btn btn-primary" href="{%url 'MyBlog:blog' article.category.slug article.slug %}">このページへ行く</a>
        </div>
      </div>
    </div>
    {%endfor%}
    {%else%}
    {%endif%}
    </div>
</div>


{%endblock%}